pkgbase = yash
	pkgdesc = Yet Another SHell is a POSIX-compliant command line shell
	pkgver = 2.61
	pkgrel = 1
	url = https://magicant.github.io/yash/
	install = yash.install
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-2.0-or-later
	makedepends = asciidoc
	makedepends = ed
	depends = ncurses
	options = lto
	source = yash-2.61.tar.gz::https://github.com/magicant/yash/archive/refs/tags/2.61.tar.gz
	source = yash.install
	sha256sums = 06401f8abfad7ac3bdbce66ccda2c37878fa103a53a3c3ed35e386f2514dd9bd
	sha256sums = c66c7a4b9da4416082ea57bbec0ce0c2bbc13af340ceb1241b4a4897d8944531

pkgname = yash
