pkgbase = xroar
	pkgdesc = A Dragon and Tandy CoCo emulator
	pkgver = 1.10
	pkgrel = 1
	url = https://www.6809.org.uk/xroar
	install = xroar.install
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = gendesk
	depends = gtk2
	depends = sdl2
	depends = libgl
	depends = libsndfile
	depends = gtkglext
	source = https://www.6809.org.uk/xroar/dl/xroar-1.10.tar.gz
	source = xroar.png
	sha256sums = b16b83f75a55e685658155e13ca393d5bc9553d120dd78a76febdd4a54ff9d58
	sha256sums = 0c6e5def77c6ca809cd69ae518512a89bff335147b44eb9ffc898d7302a17a59

pkgname = xroar
