pkgbase = python-oci
	pkgdesc = Python SDK for Oracle Cloud Infrastructure
	pkgver = 2.180.0
	pkgrel = 1
	url = https://github.com/oracle/oci-python-sdk
	arch = any
	license = Apache-2.0 OR UPL-1.0
	makedepends = python-setuptools
	depends = python
	depends = python-dateutil
	depends = python-certifi
	depends = python-circuitbreaker
	depends = python-crc32c
	depends = python-cryptography
	depends = python-pyopenssl
	depends = python-pytz
	options = !strip
	source = python-oci-2.180.0.tar.gz::https://github.com/oracle/oci-python-sdk/archive/v2.180.0.tar.gz
	sha256sums = 922966fb2c86487a28a94d370e9d0bb669a5fdc01240d296b427b16711121237

pkgname = python-oci
