pkgbase = python-marisa-trie
	pkgdesc = Static memory-efficient & fast Trie-like structures for Python (based on marisa-trie C++ library)
	pkgver = 1.2.1
	pkgrel = 1
	url = https://github.com/pytries/marisa-trie
	arch = any
	license = MIT
	makedepends = cython
	makedepends = python-pip
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = https://files.pythonhosted.org/packages/31/15/9d9743897e4450b2de199ee673b50cb018980c4ced477d41cf91304a85e3/marisa_trie-1.2.1.tar.gz
	sha256sums = 3a27c408e2aefc03e0f1d25b2ff2afb85aac3568f6fa2ae2a53b57a2e87ce29d

pkgname = python-marisa-trie
