pkgbase = ruby-oci
	pkgdesc = Ruby SDK for Oracle Cloud Infrastructure
	pkgver = 2.22.0
	pkgrel = 1
	url = https://github.com/oracle/oci-ruby-sdk
	arch = x86_64
	license = Apache-2.0 OR UPL-1.0
	depends = ruby
	depends = ruby-circuitbox
	depends = ruby-event_stream_parser
	depends = ruby-inifile
	depends = ruby-jwt
	source = ruby-oci-2.22.0.tar.gz::https://github.com/oracle/oci-ruby-sdk/archive/v2.22.0.tar.gz
	sha256sums = a2eadab38a6c0fd38129b11f8ff9ee2d21a06bc9e15f3a3f1f31e371ba125343

pkgname = ruby-oci
