pkgbase = oci-cli
	pkgdesc = Command line interface for Oracle Cloud Infrastructure
	pkgver = 3.71.4
	pkgrel = 1
	url = https://github.com/oracle/oci-cli
	arch = x86_64
	license = Apache-2.0 OR UPL-1.0
	makedepends = python-setuptools
	depends = python
	depends = python-oci
	depends = python-arrow
	depends = python-certifi
	depends = python-click
	depends = python-dateutil
	depends = python-cryptography
	depends = python-pyopenssl
	depends = python-jmespath
	depends = python-terminaltables3
	depends = python-idna
	depends = python-prompt_toolkit
	depends = python-pytz
	depends = python-six
	depends = python-retrying
	depends = python-wcwidth
	depends = python-yaml
	optdepends = python-cx-oracle: Used by the database service
	source = oci-cli-3.71.4.tar.gz::https://github.com/oracle/oci-cli/archive/v3.71.4.tar.gz
	sha256sums = b307d258b65969f6d3dbb92486c9edaaf2833768e92b08921a04f6171f17e851

pkgname = oci-cli
