pkgbase = s6
	pkgdesc = A small suite of programs for UNIX, designed to allow process supervision
	pkgver = 2.14.0.0
	pkgrel = 1
	url = https://skarnet.org/software/s6
	arch = x86_64
	license = ISC
	depends = skalibs
	depends = execline
	options = !lto
	source = https://skarnet.org/software/s6/s6-2.14.0.0.tar.gz
	source = s6.patch
	sha256sums = 586bf8474d852655b89f1144c3d95461a1cee77f016dae6e75a3328b8a2f5df6
	sha256sums = e462b7bd665cdb3d94681dbb62802a576bf9af21dd5d5c62f6d424be66769089

pkgname = s6
