pkgbase = s6
	pkgdesc = A small suite of programs for UNIX, designed to allow process supervision
	pkgver = 2.13.2.0
	pkgrel = 1
	url = https://skarnet.org/software/s6
	arch = x86_64
	license = ISC
	depends = skalibs
	depends = execline
	options = !lto
	source = https://skarnet.org/software/s6/s6-2.13.2.0.tar.gz
	source = s6.patch
	sha256sums = c5114b8042716bb70691406931acb0e2796d83b41cbfb5c8068dce7a02f99a45
	sha256sums = 2d1f7b4f775ccd29a08ce8824a64e2a039ccef8b9682fa8c7761a1b206e276c1

pkgname = s6
