pkgbase = satdump
	pkgdesc = A generic satellite processing software
	pkgver = 1.2.1
	pkgrel = 1
	url = https://github.com/altillimity/SatDump
	arch = x86_64
	license = GPL-3.0-only
	makedepends = boost
	makedepends = cmake
	makedepends = opencl-headers
	depends = airspy
	depends = fftw
	depends = glfw
	depends = hackrf
	depends = jemalloc
	depends = libad9361
	depends = libpng
	depends = libvolk
	depends = nng
	depends = ocl-icd
	depends = portaudio
	depends = rtl-sdr
	depends = zstd
	optdepends = limesuite
	optdepends = bladerf
	source = satdump-1.2.1.tar.gz::https://github.com/altillimity/SatDump/archive/1.2.1.tar.gz
	sha256sums = 1cf6fb3cde9a057cc95894ae02b28758793221e63fa0d12d0fda986b61ac3415

pkgname = satdump
