pkgbase = crate
	pkgdesc = Shared nothing, fully searchable, document oriented cluster datastore
	pkgver = 5.9.5
	pkgrel = 1
	url = https://crate.io
	install = crate.install
	arch = x86_64
	license = Apache-2.0
	depends = python
	backup = etc/crate/crate.yml
	backup = etc/crate/logging.yml
	source = https://cdn.crate.io/downloads/releases/crate-5.9.5.tar.gz
	source = crate.service
	source = crate.env
	sha256sums = fda1523af6a09d682b3bf910b2f5532d51e48d5d03e8cb48dd3ccb44a0383d29
	sha256sums = 04b36b561498332b1b569e49b42d0bedf04141de07b7b16ff1b06072673cfd21
	sha256sums = 6182b8d527d52de4fc80023827518b2e8d873afdda873ef6bd2ed92b91982f75

pkgname = crate
