pkgbase = bcftools
	pkgdesc = A program for variant calling and manipulating files in the Variant Call Format (VCF) and its binary counterpart BCF
	pkgver = 1.23
	pkgrel = 1
	url = https://samtools.github.io/bcftools
	arch = x86_64
	license = GPL-3.0-only
	depends = gsl
	depends = htslib
	depends = python-matplotlib
	depends = python
	source = https://github.com/samtools/bcftools/releases/download/1.23/bcftools-1.23.tar.bz2
	sha256sums = 5acde0ac38f7981da1b89d8851a1a425d1c275e1eb76581925c04ca4252c0778

pkgname = bcftools
