pkgbase = python-oci
	pkgdesc = Python SDK for Oracle Cloud Infrastructure
	pkgver = 2.135.0
	pkgrel = 1
	url = https://github.com/oracle/oci-python-sdk
	arch = x86_64
	license = Apache-2.0 OR UPL-1.0
	makedepends = python-setuptools
	depends = python
	depends = python-dateutil
	depends = python-certifi
	depends = python-circuitbreaker
	depends = python-cryptography
	depends = python-pyopenssl
	depends = python-pytz
	source = python-oci-2.135.0.tar.gz::https://github.com/oracle/oci-python-sdk/archive/v2.135.0.tar.gz
	sha256sums = 9b07e8408dc063836a1524d8fab9477673e43fb985a5c1c3bd59f45041df1aca

pkgname = python-oci
