pkgbase = python-oci
	pkgdesc = Python SDK for Oracle Cloud Infrastructure
	pkgver = 2.134.0
	pkgrel = 1
	url = https://github.com/oracle/oci-python-sdk
	arch = x86_64
	license = Apache-2.0 OR UPL-1.0
	makedepends = python-setuptools
	depends = python
	depends = python-dateutil
	depends = python-certifi
	depends = python-circuitbreaker
	depends = python-cryptography
	depends = python-pyopenssl
	depends = python-pytz
	source = python-oci-2.134.0.tar.gz::https://github.com/oracle/oci-python-sdk/archive/v2.134.0.tar.gz
	sha256sums = 2f979c0c64eda5cd77cae671315a6685725c5ac7e3cd95be5fc9246f2555f4e0

pkgname = python-oci
