pkgbase = python-oci
	pkgdesc = Python SDK for Oracle Cloud Infrastructure
	pkgver = 2.141.1
	pkgrel = 1
	url = https://github.com/oracle/oci-python-sdk
	arch = x86_64
	license = Apache-2.0 OR UPL-1.0
	makedepends = python-setuptools
	depends = python
	depends = python-dateutil
	depends = python-certifi
	depends = python-circuitbreaker
	depends = python-cryptography
	depends = python-pyopenssl
	depends = python-pytz
	source = python-oci-2.141.1.tar.gz::https://github.com/oracle/oci-python-sdk/archive/v2.141.1.tar.gz
	sha256sums = c64e8b8bf0903d947fa62fa0edef80e3216016e4cf1b85896af0609ad5dc7b68

pkgname = python-oci
