pkgbase = ruby-event_stream_parser
	pkgdesc = Ruby gem for a lightweight, fully spec-compliant parser for the event stream format
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Shopify/event_stream_parser
	arch = x86_64
	license = MIT
	depends = ruby
	depends = rubygems
	source = ruby-event_stream_parser-1.0.0.tar.gz::https://github.com/Shopify/event_stream_parser/archive/refs/tags/v1.0.0.tar.gz
	sha256sums = 4bc703ac7eb778de92ad5d933f15f5e87bd76b93538ccff5735877b4a383d495

pkgname = ruby-event_stream_parser
