pkgbase = python-marisa-trie
	pkgdesc = Static memory-efficient & fast Trie-like structures for Python (based on marisa-trie C++ library)
	pkgver = 1.4.0
	pkgrel = 1
	url = https://github.com/pytries/marisa-trie
	arch = any
	license = MIT
	makedepends = cython
	makedepends = python-pip
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = https://files.pythonhosted.org/packages/d0/d0/048804753e2e5f12dd426e8badaa4a938a085cf00316df092b619863bef0/marisa_trie-1.4.0.tar.gz
	sha256sums = 20dd1a9035c5cb225c6eeb8e516ebced9497bf0b48d60e9b556f38d8cdf76df8

pkgname = python-marisa-trie
