pkgbase = python-marisa-trie
	pkgdesc = Static memory-efficient & fast Trie-like structures for Python (based on marisa-trie C++ library)
	pkgver = 1.1.1
	pkgrel = 1
	url = https://github.com/pytries/marisa-trie
	arch = any
	license = MIT
	makedepends = cython
	makedepends = python-pip
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = https://files.pythonhosted.org/packages/c9/5d/2cb545ed5896a8cf9a1994dbfb794d20371d774193f1cb0bfa395da73e10/marisa_trie-1.1.1.tar.gz
	sha256sums = 363f1be2314b1f9e26b5a3de45b59fd9a0a3289bf157be61bbed770643a46f1a

pkgname = python-marisa-trie
