pkgbase = ruby-oci
	pkgdesc = Ruby SDK for Oracle Cloud Infrastructure
	pkgver = 2.21.0
	pkgrel = 1
	url = https://github.com/oracle/oci-ruby-sdk
	arch = x86_64
	license = Apache-2.0 OR UPL-1.0
	makedepends = ruby-rdoc
	depends = ruby
	depends = ruby-inifile
	depends = ruby-jwt
	source = ruby-oci-2.21.0.tar.gz::https://github.com/oracle/oci-ruby-sdk/archive/v2.21.0.tar.gz
	sha256sums = 0381ec29f388a2ee0df410459cdb58be5185162c2ad9723323fb7043699add33

pkgname = ruby-oci
