pkgbase = ruby-oci
	pkgdesc = Ruby SDK for Oracle Cloud Infrastructure
	pkgver = 2.21.1
	pkgrel = 1
	url = https://github.com/oracle/oci-ruby-sdk
	arch = x86_64
	license = Apache-2.0 OR UPL-1.0
	makedepends = ruby-rdoc
	depends = ruby
	depends = ruby-inifile
	depends = ruby-jwt
	source = ruby-oci-2.21.1.tar.gz::https://github.com/oracle/oci-ruby-sdk/archive/v2.21.1.tar.gz
	sha256sums = 4282265c0c9bbba1a7413df2d40f03e7ee6d8e3ac7befd423318ebb1bd5a8223

pkgname = ruby-oci
