pkgbase = execline
	pkgdesc = A (non-interactive) scripting language, like sh
	pkgver = 2.9.8.1
	pkgrel = 1
	url = https://skarnet.org/software/execline
	arch = x86_64
	license = ISC
	depends = skalibs
	options = !lto
	options = !debug
	source = https://skarnet.org/software/execline/execline-2.9.8.1.tar.gz
	source = execline.patch
	sha256sums = 23350d10797909636060522607591cb4a2118328cb58c5e65fb19a2c0d47264e
	sha256sums = 573ac71eb3e754ec32ea9a5ba8621ab0c8617baf0f1285254f7056588580eb99

pkgname = execline
