pkgbase = execline
	pkgdesc = A (non-interactive) scripting language, like sh
	pkgver = 2.9.8.0
	pkgrel = 1
	url = https://skarnet.org/software/execline
	arch = x86_64
	license = ISC
	depends = skalibs
	options = !lto
	options = !debug
	source = https://skarnet.org/software/execline/execline-2.9.8.0.tar.gz
	source = execline.patch
	sha256sums = d05e0b75cc21841692119c7a7838163acd7f05318bd69e779068266daa7ce91f
	sha256sums = 6682db386a057242d140d96f4dc0aca623dcb2aaab8d468f37c403e19079a8a2

pkgname = execline
