pkgbase = sipgrep
	pkgdesc = A powerful pcap-aware tool command line tool to sniff, capture, display and troubleshoot SIP signaling over IP networks
	pkgver = 2.2.0
	pkgrel = 2
	url = https://github.com/sipcapture/sipgrep
	arch = x86_64
	license = GPL-3.0-only
	depends = pcre
	depends = libpcap
	source = sipgrep-2.2.0.tar.gz::https://github.com/sipcapture/sipgrep/archive/2.2.0.tar.gz
	sha256sums = ee16c1efde73c8faa591f8d84b697b629fabf43806fb292893a3ba3f8cc9a290

pkgname = sipgrep
